## Simple OHE

### Setup

In [1]:
# Importing the required libraries
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Creating a simple dataframe
basketball_df = pd.DataFrame({'players': ['michael jordan', 'larry bird', 'hakeem olajuwon', 'shaquille oneal', 'scottie pippen', 'michael jordan']})
basketball_df

           players
0   michael jordan
1       larry bird
2  hakeem olajuwon
3  shaquille oneal
4   scottie pippen
5   michael jordan

In [4]:
# Creating a sklearn OHE object aka instantiating
cat_encoder = OneHotEncoder(sparse = False)

In [5]:
# Fitting the basketball dataframe to the sklearn OHE
data_cat_1hot = cat_encoder.fit_transform(basketball_df)

In [6]:
# Viewing the categories of the sklearn fitted transformer
cat_encoder.categories_

[array(['hakeem olajuwon', 'larry bird', 'michael jordan',
        'scottie pippen', 'shaquille oneal'], dtype=object)]

In [7]:
# Viewing the object type of the output from the sklearn transformation
data_cat_1hot

array([[0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.]])

In [8]:
sk_ohe_df = pd.DataFrame(data = data_cat_1hot, columns = cat_encoder.categories_)
sk_ohe_df

  hakeem olajuwon larry bird michael jordan scottie pippen shaquille oneal
0             0.0        0.0            1.0            0.0             0.0
1             0.0        1.0            0.0            0.0             0.0
2             1.0        0.0            0.0            0.0             0.0
3             0.0        0.0            0.0            0.0             1.0
4             0.0        0.0            0.0            1.0             0.0
5             0.0        0.0            1.0            0.0             0.0